@charset "utf-8";
/* CSS Document */
.baitap{
	width: 1000px;
	height: 500px;
	background: #009BFF;
	margin: 0 auto
		
}
.outer{
	width: 490px;
	height: 450px;
/*	background: #C50C0F;*/
	margin: auto
}
.hv1{
	width: 150px;
	height: 250px;
	background: #6EFF9E;
	float: left;
	margin-left: 10px;
	margin-top: 125px
}